<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/profile.png" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Lucas Peuch</a></h1>
            <p>Expert en ingénierie du logiciel<br />
            Développeur Web - C# - Java</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}">Acceuil</a></li>
                <li><a href="{{ site.baseurl }}/contact">Présentation</a></li>
                <li><a href="{{ site.baseurl }}/blog">Projets</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <!--
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                -->
                <li><a href="https://github.com/kiwoxx" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/lucas-peuch/" class="icon fa-envelope"><span class="label">Linkedin</span></a></li>
            </ul>
        </footer>
    </section>
